/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Modified by Daniel Williams 2024-02-20
 *
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               " ";
	drun-display-format:        "{name}";
}

/*****----- Global Properties -----*****/
* {
    background:     #323D43FF;
    background-alt: #3C474DFF;
    foreground:     #DAD1BEFF;
    selected:       #7FBBB3FF;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
}
/*@import                          "shared/fonts.rasi"*/
* {
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    font: "Liga SFMono Nerd Font 32";
    {{ else if eq .chezmoi.hostname "desktop" -}}
    font: "Liga SFMono Nerd Font 16";
    {{ end -}}
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  true;
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    width:                       3840px;
    height:                      2160px;
    {{ else if eq .chezmoi.hostname "desktop" -}}
    width:                       1920px;
    height:                      1080px;
    {{ end -}}
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            black / 10%;
    cursor:                      "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     100px;
    margin:                      0px;
    padding:                     100px 225px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @selected;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    spacing:                     20px;
    margin:                      2% 28%;
    padding:                     20px;
    {{ else if eq .chezmoi.hostname "desktop" -}}
    spacing:                     10px;
    margin:                      0% 28%;
    padding:                     10px;
    {{ end -}}
    border:                      1px solid;
    border-radius:               6px;
    border-color:                white / 25%;
    background-color:            white / 5%;
    text-color:                  @foreground;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            transparent;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     7;
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    lines:                       5;
    {{ else if eq .chezmoi.hostname "desktop" -}}
    lines:                       4;
    {{ end -}}
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @selected;
    border-radius:               0px;
    background-color:            @background-alt;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    padding:                     60px 100px;
    {{ else if eq .chezmoi.hostname "desktop" }}
    padding:                     35px 10px;
    {{ end -}}
    border:                      0px solid;
    border-radius:               15px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 vertical;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    background-color:            white / 5%;
    text-color:                  @foreground;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    {{ if eq .chezmoi.hostname "thinkpad" -}}
    size:                        200px;
    {{ else if eq .chezmoi.hostname "desktop" }}
    size:                        60px;
    {{ end -}}
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

/*****----- Message -----*****/
error-message {
    padding:                     100px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            black / 10%;
    text-color:                  @foreground;
}
textbox {
    background-color:            transparent;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
}
