# C snippets

# Many non-text chars can be used in place of quotes
snippet if "an if statement"
if ($1) {
	$2
} $0
endsnippet

snippet for "for loop"
for ($1) {
	$2
}$0
endsnippet

snippet switch "a switch statement"
switch ($1) {
	case $2:
}$0
endsnippet
