# vi: ft=neomuttrc

# unbind some keys to be able to prefix other commands with them
bind generic             z              noop
bind index,pager,attach  g              noop
bind index,pager         d              noop
# bind index,pager         s              noop
# bind index,pager         c              noop

## h to exit in every menu, l to go deeper, j and k for up and down, gg and G for top and bottom
bind pager,browser		h			    exit
bind attach,alias		h			    exit
bind pager				l   			view-attachments
bind pager 				k   			previous-line
bind pager 				j   			next-line
bind pager				gg  			top
bind pager				G   			bottom
bind index,pager        dd              delete-message
bind index				j   			next-entry
bind index				k   			previous-entry
bind attach,index 		gg 	    		first-entry
bind attach,index 		G    			last-entry
bind index				l		    	display-message
bind attach				l			    view-attach
bind browser,alias		l			    select-entry
bind index				/   			search
## default binding for limit is l
bind index				?   			limit
## default binding for help is ?
bind index,pager,attach	<F1>			help
## default binding for header view (toggle-weed) is h
bind pager				H   			display-toggle-weed
bind attach,index,pager \CD 			half-down
bind attach,index,pager	\CU 			half-up

# call urlview to extract URLs out of a message
macro index,pager       gx              "<pipe-message>urlscan<Enter>"
macro attach,compose    gx              "<pipe-entry>urlscan<Enter>"

bind generic            zt              current-top
bind generic            zz              current-middle
bind generic            zb              current-bottom
bind index              za              collapse-thread
bind index              zA              collapse-all

bind attach             <return>        view-mailcap
#
bind index,pager        \CP             sidebar-prev
bind index,pager        \CN             sidebar-next
bind index,pager        \CO             sidebar-open
