# [weather]
# command=[ -z "$button" ] && ~/.config/i3blocks/scripts/weather.sh || ~/.config/i3blocks/scripts/weather_notification.sh && ~/.config/i3blocks/scripts/weather.sh
# interval=1800

[github-notifs]
command=~/.config/i3blocks/scripts/github_notifs.sh
interval=120

[pacman-updates]
command=~/.config/i3blocks/scripts/pacmanupdates.sh
interval=900

[vpn]
command=~/.config/i3blocks/scripts/vpn.sh
interval=once

{{- if eq .chezmoi.hostname "thinkpad" }}

[wifi-stats]
command=~/.config/i3blocks/scripts/wifi.sh
interval=5

[battery]
command=~/.config/i3blocks/scripts/battery.sh
interval=60
signal=10

[brightness]
command=~/.config/i3blocks/scripts/brightness.sh
interval=once
signal=10
{{- end }}

[datarate]
command=~/.config/i3blocks/scripts/datarate.sh
interval=10

[volume]
command=~/.config/i3blocks/scripts/volume.sh
color=#a6eca8
interval=once
signal=10

[date]
command=echo " `date +'%a, %d %b %Y'`"
color="#aec6cf"
interval=60

[time]
command=echo " `date +'%H:%M:%S'`"
color=#dddddd
interval=1

[powermenu]
align=center
min_width=30
command=~/.config/i3blocks/scripts/pmenu.sh
interval=once
